{% extends "listings/base.html" %}
{% block content %}
<div class="detail-band">
    <div>
<h2>{{ band.name }}</h2>
<p>
    <a href="{% url 'band-update' band.id %}">Modifier</a>
    <a href="{% url 'band-delete' band.id %}">Supprimer</a>
</p>
<ul>
    <li>Genre: {{ band.get_genre_display }}</li>
    <li>Année de formation : {{ band.year_formed }}</li>
    <li>Actif: {{ band.active|yesno|upper }}</li>
    {% if band.official_homepage %}
    <li> {{ band.official_homepage }}</li>
    {% endif %}
</ul>
<p>{{ band.biography }}</p>
<p><a href="{% url 'band-list' %}">Retour à tous les groupes</a></p>
    </div>
<aside>
    <h2>Annonces</h2>
    {% for item in band.listing_set.all %}
    <p><a href="{% url 'listing-detail' item.id %}">{{ item.title }}</a></p>
    {% endfor %}
</aside>
</div>
{% endblock %}
