{% extends "listings/base.html" %}
{% block content %}
<h2>{{ item.title }}</h2>
<p>
    <a href="{% url 'listing-update' item.id %}">Modifier</a>
    <a href="{% url 'listing-delete' item.id %}">Supprimer</a>
</p>
<ul>
    <li>Type: {{ item.get_type_display }}</li>
    <li>Groupe: {{ item.band }}</li>
    <li>Année de l'annonce: {{ item.year }}</li>
    <li>Vendu: {{ item.sold|yesno|upper }}</li>
    {% if item.description %}
    <li> {{ item.description }}</li>
    {% endif %}
</ul>
<p><a href="{% url 'listing-list' %}">Voir toutes les annonces</a></p>
{% endblock %}
